Documentação/
Exemplos/
Livros Python/
Media/
video_gaitproject_assets/
Dicas
video_gaitproject.osp
EspGait_Algorithms/MPU6050_ESP8266_MQTT-master/
EspGait_Algorithms/README.md
EspGait_Algorithms/[DMP_V6.12] MPU6050/
EspGait_Algorithms/mauricio_mqtt_example/
EspGait_Algorithms/mpu6050_mqtt_esp32_backup/
EspGait_Algorithms/mpu6050_mqtt_esp32_calibration/
EspGait_Algorithms/planejamento_periodo_datasend/
EspGait_Algorithms/teste_mqtt_wifi/
EspGait_Algorithms/[DMP_V6.12] MPU6050/
